.bgm-red {
    background-color: red;
}
.bgm-green {
    background-color: green;
}

.layouts {
    font-size: 16px;
}

.active-layout {
    color: green;
}

.layout-border {
    margin: 0px;
    width: 100%;
    border: 1px black solid;
}

.layout-icon {
    font-size: 20px;
    font-weight: 600;
}