.header {
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 600;
    background-color: lightgrey;
    padding: 10px;
}
.right-border {
    border-right: black 1px solid;
}
.container-fluid, .layout-panel {
    height: 100%;
}